@model List<comandaOpe.Data.Models.Produto>

<table class="table table-striped">

    @Html.ActionLink("Inserir Produto", "FormInserirProduto", "Produto")
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">DESCRIÇÃO</th>
            <th scope="col">PREÇO</th>
            <th scope="col">CATEGORIA</th>
        </tr>
    </thead>

    @if(Model != null)
    { 
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a asp-action="FormEditarProduto"><span class="fas fa-trash" value="@Html.Hidden("numero_comanda", item.id)"></span></a>

                    <span>
                        <i class="fas fa-trash"></i>
                            @Html.ActionLink(".", "RemoverProduto", new { id = item.id })
                        
                    </span>
                </td>

                <td>@Html.Encode(item.descricao)</td>
                <td>@Html.Encode(item.preco)</td>
                <td>@Html.Encode(item.categoria)</td>
                
            </tr>
            }
        </tbody>
    }
</table>