@model List<IGrouping<string, comandaOpe.Data.Models.Estoque>>

<header>
    <nav class="navbar navbar-expand-lg rounded  navbar-light bg-white border-bottom box-shadow mb-3">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav mr-auto">
                <img class="nav-item" src="/images/aurelianos.png" style="width: 9%; height:9%;">
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Usuario" asp-action="Painel">Painel</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Cozinha" asp-action="ListarPedidosEmAndamento">Pedidos</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Produto" asp-action="Produto">Produtos</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Cliente" asp-action="Cliente">Comandas</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-action="Logout">Logout</a></h2>
                </li>
            </ul>
        </div>
    </nav>
</header>

@if (TempData["Falha"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Falha"]
    </div>
}
@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success">
        @TempData["Sucesso"]
    </div>
}


<form method="get" asp-action="AdicionarItem" asp-controller="Estoque">
    <button class="btn btn-success" type="submit"> <i class="fas fa-plus-circle"></i> </button>
</form>

@foreach (var categoria in Model)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Categoria: @categoria.Key</th>
            </tr>
            <tr>
                <th scope="col">PRODUTO</th>
                <th scope="col">QUANTIDADE</th>
                <th scope="col">FORNECEDOR</th>
                <th scope="col">ADICIONAR</th>
                <th scope="col">REMOVER</th>
                <th scope="col">REMOVER ITEM</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in categoria)
            {
                <tr>
                    <td>@item.produto</td>
                    <td>@item.quantidade</td>
                    <td>@item.fornecedor</td>

                    <form method="post" asp-action="SomarItem" asp-controller="Estoque">
                        <input name="id" id="id" hidden="hidden" value="@item.id" />
                        <td>
                            <input type="number" id="quantidadeNova" name="quantidadeNova" required="" placeholder="Quantidade a ser adicionada" min="1" />
                            <button class="btn btn-primary" type="submit"> <i class="fas fa-plus"></i> </button>
                        </td>
                    </form>

                    <form method="post" asp-action="SubtrairItem" asp-controller="Estoque">
                        <input name="id" id="id" hidden="hidden" value="@item.id" />
                        <td>
                            <input type="number" id="quantidadeNova" name="quantidadeNova" required="" placeholder="Quantidade a ser adicionada" min="1" />
                            <button class="btn btn-primary" type="submit"> <i class="fas fa-minus"></i> </button>
                        </td>
                    </form>

                    <form method="get" asp-action="RemoverItem" asp-controller="Estoque">
                        <input name="id" id="id" hidden="hidden" value="@item.id" />
                        <td><button class="btn btn-primary" type="submit"> <i class="fas fa-trash"></i> </button></td>
                    </form>
                    </tr>
                }
            </tbody>
    </table>
}