@model List<IGrouping<string, comandaOpe.Data.Models.Produto>>

<head>
    <style>
        .sidenav {
            height: 100%;
            width: 90px;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #fff;
            overflow-x: hidden;
            padding-top: 20px;
            /*border-right: ;*/
        }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            color: #818181;
            display: block;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .main {
            margin-top: 20px;
            margin-left: 50px;
            padding: 0px 10px;
        }
    </style>
</head>

<div class="sidenav">
    <img class="nav-item" src="/images/aurelianos.png" style="width: 85px; height:85px;">
    <a asp-controller="Cozinha" asp-action="ListarPedidosEmAndamento"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Pedidos"><i style="color:#000000" class="fas fa-hamburger fa-2x"></i></button></a>
    <a asp-controller="Produto" asp-action="Produto"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Cardápio"><i style="color:#000000" class="fas fa-list-ol fa-2x"></i></button></a>
    <a asp-controller="Cliente" asp-action="Cliente"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Comandas"><i style="color: #000000" class="fas fa-th fa-2x"></i></button></a>
    <a asp-controller="Estoque" asp-action="ListarEstoque"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Estoque"><i style="color:#000000" class="fas fa-dolly-flatbed fa-2x"></i></button></a>
    <a asp-controller="Usuario" asp-action="Logout"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Sair"><i style="color:#000000" class="fas fa-sign-out-alt fa-2x"></i></button></a>
</div>


<div class="main">
    @if (TempData["Falha"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Falha"]
        </div>
    }
    @if (TempData["Sucesso"] != null)
    {
        <div class="alert alert-success">
            @TempData["Sucesso"]
        </div>
    }

    @foreach (var categoria in Model)
    {
        <h2>Categoria: @categoria.Key</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">PRODUTO</th>
                    <th scope="col">CATEGORIA</th>
                    <th scope="col">VALOR</th>
                    <th scope="col">QUANTIDADE </th>
                    <th scope="col">OBSERVAÇÃO</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in categoria)
                {
                    <form method="post" asp-action="InserirPedido" asp-controller="Pedido">
                        <tr>
                            <td>@item.descricao</td>
                            <td>@item.categoria</td>
                            <td><name ="valor" id="valor" value="@item.preco">@item.preco</td>
                            <td><input type="number" id="quantidade" name="quantidade" required="" placeholder="Quantidade" min="1" /></td>
                            <td><input type="text" name="observacao" class="form-control" id="observacao" placeholder="Alguma observação ?" /></td>
                            <td><button type="submit" class="btn btn-lg btn-primary" value="Adicionar">Adicionar</button></td>
                            <input name="valor" id="valor" hidden="hidden" value="@item.preco" />
                            <input name="produtoID" id="produtoID" hidden="hidden" value="@Html.Encode(item.id)" />
                            <input name="id_comanda_pedido" id="id_comanda_pedido" hidden="hidden" value="@Html.Encode(item.id_comanda)" />
                        </tr>
                    </form>
                }
            </tbody>
        </table>
    }
</div>
