@model List<comandaOpe.Data.Models.Comanda>

<header>
    <nav class="navbar navbar-expand-lg rounded  navbar-light bg-white border-bottom box-shadow mb-3">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav mr-auto">
                <img class="nav-item" src="/images/aurelianos.png" style="width: 9%; height:9%;">
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Usuario" asp-action="Painel">Painel</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Cozinha" asp-action="ListarPedidosEmAndamento">Pedidos</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Produto" asp-action="Produto">Produtos</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Estoque" asp-action="ListarEstoque">Estoque</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-action="Logout">Logout</a></h2>
                </li>
            </ul>
        </div>
    </nav>
</header>

@if (TempData["Falha"] != null)
{
    <p class="alert alert-danger">
        @TempData["Falha"]
    </p>
}
@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success">
        @TempData["Sucesso"]
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" asp-action="FormNovaComanda" asp-controller="Cliente">
                <button class="btn btn-success" type="submit"> <i class="fas fa-plus-circle"></i> </button>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">COMANDAS LIVRES</th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                @if (Model != null)
                {
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @if (item.status == false)
                                {
                                    <td>@item.numero_comanda</td>
                                    <td> @Html.ActionLink("Abrir Comanda", "FormCliente", new { comandaID = item.id }) </td>
                                }
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
        <div class="col-md-6 mt-6">
            <div align="right">
                <form class="form-inline my-2 my-lg-0" asp-action="BuscarComanda" asp-controller="Cliente" method="get">
                    <input type="number" class="form-control mr-sm-2" type="search" name="numero_comanda" id="numero_comanda" placeholder="Pesquisar" aria-label="Pesquisar" required="" >
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                </form>
            </div>
            <table class="table table-striped">
                <thead>
                <th scope="col">COMANDAS EM USO</th>
                <th scope="col"></th>
                </thead>
                @if (Model != null)
                {
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @if (item.status == true)
                                {
                                    <td> @item.numero_comanda</td>
                                    <td> @Html.ActionLink("Gerenciar Comanda", "ListarPedidos", new { comandaID = item.id }) </td>
                                }
                            </tr>
                        }
                    </tbody>

                }
            </table>
        </div>
    </div>
</div>
