@model List<comandaOpe.Data.Models.Comanda>

@if (TempData["Falhou"] != null)
{
    <p class="alert alert-danger">
        @TempData["ComandaFechada"]
    </p>
}

<div class="container">
    <table class="table table-striped">

        @Html.ActionLink("Inserir Comanda", "FormNovaComanda", "Cliente")
        <thead>
            <tr>
                <th scope="col">COMANDAS LIVRES</th>
                <th scope="col"></th>
            </tr>
        </thead>
        
        @if (Model != null)
        {
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if (item.status == false)
                        {
                            <td>@item.numero_comanda</td>
                            <td> @Html.ActionLink("Abrir Comanda", "FormCliente", new { comandaID = item.id }) </td>
                        }
                    </tr> 
                }
            </tbody>
        }
    </table>

    <table class="table table-striped">
        <thead>
            <th scope="col">COMANDAS EM USO</th>
            <th scope="col"></th>
        </thead>

            @if (Model != null)
            { 
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            @if (item.status == true)
                            {
                                <td> @item.numero_comanda</td>
                                <td> @Html.ActionLink("Gerenciar Comanda", "ListarPedidos", new { comandaID = item.id }) </td>
                            }
                        </tr>
                    }
                </tbody>
        
             }
    </table>
</div>
