@model List<comandaOpe.Data.Models.Comanda>

<header>
    <nav class="navbar navbar-expand-lg rounded  navbar-light bg-white border-bottom box-shadow mb-3">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav mr-auto">
                <img class="nav-item" src="/images/aurelianos.png" style="width: 9%; height:9%;">
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Usuario" asp-action="Painel">Painel</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Cozinha" asp-action="ListarPedidosEmAndamento">Pedidos</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Produto" asp-action="Produto">Produtos</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Cliente" asp-action="Cliente">Comandas</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Estoque" asp-action="ListarEstoque">Estoque</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-action="Logout">Logout</a></h2>
                </li>
            </ul>
        </div>
    </nav>
</header>


@if (TempData["Falha"] != null)
{
    <p class="alert alert-danger">
        @TempData["ComandaFechada"]
    </p>
}
@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success">
        @TempData["Sucesso"]
    </div>
}

@using (Html.BeginForm("InserirNovaComanda", "Cliente", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <label for="preco" class="form-label">Digite o numero da comanda para adicionar: </label>
    <input type="text" name="numero_comanda" />

    <input type="submit" name="enviar" value="Salvar" />

    if (Model != null)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Comandas Existentes</th>
                    <th scope="col">Situação</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@Html.Encode(item.numero_comanda)</td>
                        <td>@Html.Encode(item.status == true ? "Comanda em uso" : "Comanda Livre")</td>

                    </tr>
                }
            <tbody>
        </table>
    }
}
