@model List<comandaOpe.Data.Models.Comanda>

<head>
    <style>
        .sidenav {
            height: 100%;
            width: 90px;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #fff;
            overflow-x: hidden;
            padding-top: 20px;
            border-right: 1px solid #dee2e6;
        }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            color: #818181;
            display: block;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .main {
            margin-top: 20px;
            margin-left: 50px;
            padding: 0px 10px;
        }
    </style>
</head>

<div class="sidenav">
    <img class="nav-item" src="/images/aurelianos.png" style="width: 85px; height:85px;">
    <a asp-controller="Financeiro" asp-action="RelatorioClienteMes"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Relatorio"><i style="color:#000000" class="fas fa-file-invoice-dollar fa-2x"></i></button></a>
    <a asp-controller="Cozinha" asp-action="ListarPedidosEmAndamento"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Pedidos"><i style="color:#000000" class="fas fa-hamburger fa-2x"></i></button></a>
    <a asp-controller="Produto" asp-action="Produto"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Cardápio"><i style="color:#000000" class="fas fa-list-ol fa-2x"></i></button></a>
    <a asp-controller="Cliente" asp-action="Cliente"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Comandas"><i style="color: #000000" class="fas fa-th fa-2x"></i></button></a>
    <a asp-controller="Estoque" asp-action="ListarEstoque"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Estoque"><i style="color:#000000" class="fas fa-dolly-flatbed fa-2x"></i></button></a>
    <a asp-controller="Usuario" asp-action="Logout"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Sair"><i style="color:#000000" class="fas fa-sign-out-alt fa-2x"></i></button></a>
</div>

<div class="main">
    <h2 class="mb-3">Nova Comanda</h2>
    @if (TempData["Falha"] != null)
    {
        <p class="alert alert-danger">
            @TempData["Falha"]
        </p>
    }
    @if (TempData["Sucesso"] != null)
    {
        <div class="alert alert-success">
            @TempData["Sucesso"]
        </div>
    }

    @using (Html.BeginForm("InserirNovaComanda", "Cliente", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <label for="preco" class="form-label">Digite o numero da comanda para adicionar: </label>
        <input type="text" name="numero_comanda" />

        <input class="btn btn-success mb-2" type="submit" name="enviar" value="Salvar" />

        if (Model != null)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Comandas Existentes</th>
                        <th scope="col">Situação</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@Html.Encode(item.numero_comanda)</td>
                            <td>@Html.Encode(item.status == true ? "Comanda em uso" : "Comanda Livre")</td>

                        </tr>
                    }
                <tbody>
            </table>
        }
    }
</div>

