@model List<comandaOpe.Data.Models.Pedido>

<head>
    <style>
        .sidenav {
            height: 100%;
            width: 90px;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #fff;
            overflow-x: hidden;
            padding-top: 20px;
            border-right: 1px solid #dee2e6;
        }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            color: #818181;
            display: block;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .main {
            margin-top: 20px;
            margin-left: 50px;
            padding: 0px 10px;
        }
    </style>
</head>

<div class="sidenav">
    <img class="nav-item" src="/images/aurelianos.png" style="width: 85px; height:85px;">
    <a asp-controller="Cozinha" asp-action="ListarPedidosEmAndamento"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Pedidos"><i style="color:#000000" class="fas fa-hamburger fa-2x"></i></button></a>
    <a asp-controller="Produto" asp-action="Produto"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Cardápio"><i style="color:#000000" class="fas fa-list-ol fa-2x"></i></button></a>
    <a asp-controller="Cliente" asp-action="Cliente"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Comandas"><i style="color: #000000" class="fas fa-th fa-2x"></i></button></a>
    <a asp-controller="Estoque" asp-action="ListarEstoque"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Estoque"><i style="color:#000000" class="fas fa-dolly-flatbed fa-2x"></i></button></a>
    <a asp-controller="Usuario" asp-action="Logout"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Sair"><i style="color:#000000" class="fas fa-sign-out-alt fa-2x"></i></button></a>
</div>

<div class="main">
    @if (Model != null)
    {
        <h2 class="mb-3">Gerenciar Comanda</h2>
        <form method="post" asp-action="ListarProduto" asp-controller="Pedido">
            <input name="id_comanda_pedido" id="id_comanda_pedido" hidden="hidden" value="@Model.FirstOrDefault().id_comanda_pedido" />
            <button class="btn btn-success" type="submit"> Adicionar pedido a comanda </button>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Valor Unitario</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Valor Total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td name="id_comanda_pedido" hidden="hidden">@item.id_comanda_pedido</td>
                            <td>@item.descricao_produto</td>
                            <td>@Html.Encode(item.valor)</td>
                            <td>@Html.Encode(item.quantidade)</td>
                            <td>@Html.Encode(item.total_pagar)</td>

                            <td>
                                <form method="get" asp-action="RemoverPedido" asp-controller="Pedido">
                                    <input name="id_pedido" id="id_pedido" hidden="hidden" value="@item.id" />
                                    <input name="id_comanda_pedido" id="id_comanda_pedido" hidden="hidden" value="@item.id_comanda_pedido" />
                                    <button class="btn btn-danger" type="submit"> <i class="fas fa-trash-alt"></i> </button>
                                </form>
                            </td>
                        </tr>
                    }

                <th scope="col">Total a pagar: R$ @Html.Encode(Model.Sum(pedido => pedido.total_pagar))</th>
            }

                </tbody>

            </table>

            @using (Html.BeginForm("FecharComanda", "Cliente", FormMethod.Post))
            {
                <div>
                    Comanda Paga ?
                    <a asp-controller="Cliente" asp-action="FecharComanda" pos><input type="submit" class="btn btn-success" name="Sim" value="Sim" /></a>

                    @Html.Hidden("comanda_Pedido_Id", Model.FirstOrDefault().id_comanda_pedido)
                </div>
            }
        }
</div>


