@model List<comandaOpe.Data.Models.Pedido>

@if (Model != null)
{
    <form method="post" asp-action="ListarProduto" asp-controller="Pedido">
        <input name="id_comanda_pedido" id="id_comanda_pedido" hidden="hidden" value="@Model.FirstOrDefault().id_comanda_pedido"/>
        <button class="btn btn-success" type="submit"> Adicionar pedido a comanda </button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Produto</th>
                <th scope="col">Valor Unitario</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor Total</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td name="id_comanda_pedido" hidden="hidden">@item.id_comanda_pedido</td>
                        <td>@item.descricao_produto</td>
                        <td>@Html.Encode(item.valor)</td>
                        <td>@Html.Encode(item.quantidade)</td>
                        <td>@Html.Encode(item.total_pagar)</td>
                    </tr>
                }

            <th scope="col">Total a pagar: R$ @Html.Encode(Model.Sum(pedido => pedido.total_pagar))</th>
        }

            </tbody>

     </table>

        @using (Html.BeginForm("FecharComanda", "Cliente", FormMethod.Post))
        {
            <div>
                Comanda Paga ?
                <a asp-controller="Cliente" asp-action="FecharComanda" pos><input type="submit" name="Sim" value="Sim" /></a>

                @Html.Hidden("comanda_Pedido_Id", Model.FirstOrDefault().id_comanda_pedido)

                <input type="submit" name="Não" value="Não" />
            </div>
        }
 }

